# Git ignore files for *dotfiles*
node_modules
.config/karabiner/automatic_backups
bash/.bash_constants
.ssh

local.el
nvim/.config/nvim/lua/local.lua
# written by nvim when XDG_CONFIG_HOME points into this tree; holds credentials
nvim/.config/github-copilot/
/.claude/
